body{
    background-color: rgb(226, 226, 220);
}
.A{
    text-align: center;
}
.B{
    text-align: center;
    color: brown;
}
.C{
    color: rgb(49, 2, 2);
}
.D{
    color: rgb(119, 13, 38);
}
.E
{
    color: rgb(119, 13, 38);
}
.F{
    color: rgb(119, 13, 38);
}